@model JuanMartin.PhotoGallery.Models.LoginViewModel;
@using JuanMartin.Kernel.Extesions;
@{
    ViewBag.Title = "User Login";
    var baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}/";
    var galleryRedirectUrl = (ViewBag.GalleryRedirectUrl is null) ? "#" : baseUrl + ViewBag.GalleryRedirectUrl;
    var isMobile = (ViewBag.IsMobile is null) ? false : (bool)ViewBag.IsMobile;
    string fontSizeDeviceTypeOverride = (isMobile) ? "16" : "10";
    string fontColorDeviceTypeOverride = (isMobile) ? "dodgerblue" : "black";
    string fontWeightDeviceTypeOverride = (isMobile) ? "bold" : "normal";

}


<h2>Login ...</h2>
<br />
@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    //this is for create form tag
    @Html.AntiForgeryToken() // this is for prevent CSRF attack
    @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {

        <div class="error-message">
            @ViewBag.Message
        </div>
        <br />
    }

    <table>
        <tr>
            <td style="font-size: @fontSizeDeviceTypeOverride;font-weight:@fontWeightDeviceTypeOverride;">@Html.LabelFor(a => a.UserName)</td>
            <td style="font-size: @fontSizeDeviceTypeOverride;">@Html.TextBoxFor(a => a.UserName)</td>
            <td>@Html.ValidationMessageFor(a => a.UserName)</td>
        </tr>
        <tr>
            <td style="font-size: @fontSizeDeviceTypeOverride;font-weight:@fontWeightDeviceTypeOverride;">
                @Html.LabelFor(a => a.Password)
            </td>
            <td style="font-size: @fontSizeDeviceTypeOverride;">
                @Html.PasswordFor(a => a.Password)
            </td>
            <td>
                @Html.ValidationMessageFor(a => a.Password)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Login" />
            </td>
            <td></td>
        </tr>
    </table>
    <br />
    <span>If you do not have a user, click to <a p-controller="Login" asp-action="Register">Register</a>.</span>
    <br />
    <span><a p-controller="Login" asp-action="ForgotPassword">Forgot password?</a></span>
    <br />
    <br />
    <br />

            string message = $"« Back to gallery...";
            message   = (isMobile) ? message.ToUpper() : message.Capitalize();
            string navigationButtonClass = (isMobile) ? "btn-nav-with-text-mobile" : "btn-nav-with-text-desktop";

    <div class="gallery-image-detail-nav">
        <a class="btn @navigationButtonClass" href="@galleryRedirectUrl">@message</a>
    </div>
} 