@model JuanMartin.PhotoGallery.Models.LoginViewModel;
@{
    ViewBag.Title = "User Login";
    var baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}/";
    //    var baseUrl = $"{Context.Request.Host}/";
    var galleryRedirectUrl = (ViewBag.GalleryRedirectUrl is null) ? "#" : baseUrl + ViewBag.GalleryRedirectUrl;

}


<h2>Login ...</h2>
<br />
@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    //this is for create form tag
    @Html.AntiForgeryToken() // this is for prevent CSRF attack
    @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {

        <div class="error-message">
            @ViewBag.Message
        </div>
        <br />
    }

    <table>
        <tr>
            <td>@Html.LabelFor(a => a.UserName)</td>
            <td>@Html.TextBoxFor(a => a.UserName)</td>
            <td>@Html.ValidationMessageFor(a => a.UserName)</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(a => a.Password)
            </td>
            <td>
                @Html.PasswordFor(a => a.Password)
            </td>
            <td>
                @Html.ValidationMessageFor(a => a.Password)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Login" />
            </td>
            <td></td>
        </tr>
    </table>
    <br />
    <span>If you do not have a user, click to <a p-controller="Login" asp-action="Register">Register</a>.</span>
    <br />
    <span><a p-controller="Login" asp-action="ForgotPassword">Forgot password?</a></span>
    <br />
    <br />
    <br />
    <div class="gallery-image-detail-nav">
        <a class="btn btn-nav-text" href="@galleryRedirectUrl">
            &laquo; Back to gallery
        </a>
    </div>
} 