@model JuanMartin.PhotoGallery.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "User Registration";
}
<h2>Reset password ...</h2>
<br />
@using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
{
    //this is for create form tag
    @Html.AntiForgeryToken() // this is for prevent CSRF attack
    @Html.ValidationSummary(true)

    if (@ViewBag.Message != null)
    {

        <div class="error-message">
            @ViewBag.Message
        </div>
    }
    if (@ViewBag.IsCodevalid)
    {
        <table>
            <tr>
                <td>
                    @Html.LabelFor(a => a.NewPassword)
                </td>
                <td>
                    @Html.PasswordFor(a => a.NewPassword)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.NewPassword)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.ConfirmPassword)
                </td>
                <td>
                    @Html.PasswordFor(a => a.ConfirmPassword)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.ConfirmPassword)
                </td>
                <td>
                    @Html.HiddenFor(a => a.ResetCode)
                </td>
                <td>
                    @Html.HiddenFor(a => a.UserId)
                </td>
                <td>
                    @Html.HiddenFor(a => a.UserName)
                </td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Reset" />
                </td>
                <td></td>
            </tr>
        </table>
        <span style="font-size: 14px">back to <a asp-controller="Login" asp-action="Login">Login</a> ...</span>
    }
    else
    {
        <p>
            Found an error while processing the activation code, <a asp-controller="Login" asp-action="ForgotPassword">clich here</a>
            to try again.
        </p>
    }
}
