<!DOCTYPE html>
@{
    var isMobile = (ViewBag.IsMobile is null) ? false : (bool)ViewBag.IsMobile;
    string tooltipIconClass = (isMobile) ? "tooltip-icon-mobile" : "tooltip-icon-desktop";
    string tooltipIconFile = (isMobile) ? "help-icon-mobile.png" : "help-icon.png";
    tooltipIconFile = "/" + tooltipIconFile;
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JuanMartin.PhotoGallery</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Gallery" asp-action="Index">JuanMartin.PhotoGallery</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                                <div name="signout" class="btn-toolbar-container"> @* style="padding-top:15px;">  with filler, hardcode  fix *@
                                @if ((bool)TempData["isSignedIn"])
                                {
                                    <form method="post" asp-controller="Login" asp-action="Logout">
                                        <input type="image" name="Logout" src="~/signout.png" class="btn-logout tooltip-icon-desktop" title="Signout">
                                    </form>
                                }
                                else
                                {
                                    <img class="btn-logout tooltip-icon-desktop" name="Logout" src="~/signout-inactive.png" alt="Logout" title="Signout" />
                                }
                            </div>
                        </li>
                        <li class="nav-item">
                            <div name="shoppingCart" class="btn-toolbar-container">
                                @if (ViewBag.HasCurrentActiveOrder != null && ViewBag.HasCurrentActiveOrder)
                                {
                                    <form method="post" asp-controller="Gallery" asp-action="Index" asp-route-pageId="1" asp-route-blockId="1" asp-route-cartView="true">
                                        <div class="notification">
                                            <input type="image" name="Cart" src="~/shopping-cart.png" class="tooltip-icon-desktop" title="Current Order">
                                            <span class="badge">@ViewBag.PhotographyCount</span>
                                        </div>
                                    </form>
                                }
                                else
                                {
                                    <img class="tooltip-icon-desktop" name="CartEmpty" src="~/shopping-cart-empty.png" alt="Cart Empty"  title="Current Order"/>
                                }
                            </div>
                        </li>
                        @if (ViewBag.DisplayPhotogrphiesAsOrder != null && ViewBag.DisplayPhotogrphiesAsOrder)
                        {
                            <li class="nav-item">
                                <div name="cancelOrder" style="width:fit-content;justify-content:right;">
                                    @if (ViewBag.HasCurrentActiveOrder != null && ViewBag.HasCurrentActiveOrder)
                                    {
                                        var baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}";
                                        baseUrl += Url.RouteUrl(ViewContext.RouteData.Values);
                                        string qs = Context.Request.QueryString.ToString();
                                        if (string.IsNullOrEmpty(qs))
                                            qs = "?";
                                        if (!qs.Contains("orderAction") || qs == "?")
                                            qs += "orderAction=cancel";
                                        var url = baseUrl + qs;
                                        <a href="@url" onclick="ConfirmCancel()">
                                            <img class="tooltip-icon-desktop" name="cancelOrder" src="~/order-cancel.png" title="Cancel Order" />
                                        </a>
                                    }
                                    else
                                    {
                                        <img class="tooltip-icon-desktop" name="disableCancelOrder" src="~/order-cancel-inactive.png" title="Cancel Order" />
                                    }
                                </div>
                            </li>
                            <li class="nav-item">
                                <div name="checkout" style="width:45px;height: fit-content;justify-content:right;">
                                    @if (ViewBag.HasCurrentActiveOrder != null && ViewBag.HasCurrentActiveOrder)
                                    {
                                        <form method="post" asp-controller="Payment" asp-action="Index" asp-route-pageId="1" asp-route-blockId="1">
                                            <input type="image" name="startChecout" src="~/cart-checkout.png" class="tooltip-icon-desktop" title="Checkout">
                                        </form>
                                    }
                                    else
                                    {
                                        <img class="tooltip-icon-desktop" name="disableChekout" src="~/cart-checkout-inactive.png" title="Checkout" />
                                    }
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div name="searchBar"style="width: fit-content;">
                    <form method="post" asp-controller="Gallery" asp-action="Index" asp-route-pageId="1" asp-route-blockId="1" class="search nosubmit">
                        <input type="search" id="searchQuery" name="searchQuery" placeholder="Search gallery ..." class="search nosubmit">
                        <img src="@tooltipIconFile" rel="tooltip" class="@tooltipIconClass" alt="?" title="Search query must be one
    or more comma separated list of
    tags possibly used in images." />
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - JuanMartin.PhotoGallery - @ViewBag.Version
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js" integrity="sha512-zYXldzJsDrNKV+odAwFYiDXV2Cy37cwizT+NkuiPGsa9X1dOz04eHvUWVuxaJ299GvcJT31ug2zO4itXBjFx4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/tooltip.js "></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>