@model JuanMartin.PhotoGallery.Models.GalleryDetailViewModel;
@using JuanMartin.PhotoGallery.Controllers;
@{
    var isCartView = (ViewBag.DisplayPhotogrphiesAsOrder is null) ? false : (bool)ViewBag.DisplayPhotogrphiesAsOrder;

    var baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}/Gallery";
    var cartGalleryRedirectUrl = baseUrl + ((ViewBag.CartRedirectUrl is null) ? string.Empty : ViewBag.CartRedirectUrl);
    var pageId = (Model is null) ? 1 : Model.PageId;
    var searchQuery = (ViewBag.SearchQuery is null) ? string.Empty : ViewBag.SearchQuery;
    var currentBlock = ViewBag.BlockId;

    var currentId = (Model.Image is null) ? -1 : Model.Image.Id;
    if (currentId == -1)
        ViewBag.Message = "Image is not available";

    var galleryIdList = ViewBag.GalleryIdList;
    var previousId = HttpUtility.GetImageId(currentId, galleryIdList, HttpUtility.ImageRelativePosition.Previous);
    var nextId = HttpUtility.GetImageId(currentId, galleryIdList, HttpUtility.ImageRelativePosition.Next);

    // persist values
    var queryString = $"?pageId={pageId}&blockId={currentBlock}&searchQuery={searchQuery}";
    if (isCartView)
        queryString += "&cartView=true";

    var galleryUrl = $"{baseUrl}/Index" + queryString;
}
@if (@ViewBag.Message != null && @ViewBag.Message != "")
{

    <div class="error-message">
        @ViewBag.Message
    </div>
    <br />
}
<div class="container body-content">
    <div class="gallery-image-detail-container">
        <table>
            <tr>
                <td>
                    @if (previousId != -1)
                    {
                        <a asp-controller="Gallery" asp-action="Detail" asp-route-id="@previousId" asp-route-searchQuery="@searchQuery" asp-route-pageId="@pageId" asp-route-blockId="@currentBlock">
                            <img alt="previous" src="~/previous.png" class="btn-prev-next"/>
                        </a>
                    }
                </td>
                <td style="width : 10px;"></td>
                <td>
                    <div>
                        @{
                            var path = System.IO.Path.Combine(Model.Image.Path, Model.Image.FileName).Replace(@"\", "/");
                            var url = Url.Content(path);
                        }
                        <img class="gallery-image-detail" src="@url" alt="@url" />
                    </div>
                </td>
                <td style="width : 10px;"></td>
                <td>
                    @if (nextId != -1)
                    {
                        <a asp-controller="Gallery" asp-action="Detail" asp-route-id="@nextId" asp-route-searchQuery="@searchQuery" asp-route-pageId="@pageId" asp-route-blockId="@currentBlock">
                        <img alt="next" src="~/next.png" class="btn-prev-next" />
                    </a>
                    }
                </td>
            </tr>
        </table>
        <br />
        <table class="gallery-image-detail-meta">
            <tr>
                <td class="gallery-image-detail-meta-column-left">FileName: </td>
                <td class="gallery-image-detail-meta-column-right">@Model.Image.FileName</td>
                <td class="gallery-image-detail-meta-column-sidenote"></td>
            </tr>
            <tr>
                <td class="gallery-image-detail-meta-column-left">Location: </td>
                <td class="gallery-image-detail-meta-column-right">
                    <form id="location" asp-controller="Gallery" asp-action="Detail" asp-route-id="@currentId" asp-route-searchQuery="@searchQuery" asp-route-pageId="@pageId" asp-route-blockId="@currentBlock" method="post">
                        <input style="width: 150px;" type="text" asp-for="Location" value="@Model.Image.Location">
                        <button type="submit" style="border:none;background-color: white;" onclick="this.form.submit();"><img class="btn-detail-action" src="~/plus.png" /></button>
                    </form>
                </td>
                <td class="gallery-image-detail-meta-column-sidenote">
                    <img src="~/help-icon.png" class="tooltipicon" alt="?" title="Use textbox to specify the location
for the current image, and click plus icon to submit." />
                </td>
            </tr>
            <tr>
                <td class="gallery-image-detail-meta-column-left">Tags: </td>
                <td class="gallery-image-detail-meta-column-right">
                    @*<span>-@Model.SelectedTagListAction-</span>*@
                    <form id="tags" asp-controller="Gallery" asp-action="Detail" asp-route-id="@currentId"  asp-route-searchQuery="@searchQuery" asp-route-pageId="@pageId" asp-route-blockId="@currentBlock" method="post">
                        <select id="tagList" size="2" onclick="GetSelectedTagText(this)" style="width:150px">
                            @foreach (var tag in Model.Image.Tags)
                            {
                                <option>@tag</option>
                            }
                        </select><br />
                        <input style="display: none;" type="text" asp-for="Tag">
                        <input style="display: none;" type="text" id="selectedTagListAction" asp-for="SelectedTagListAction">
                        <input style="width: 150px;" type="text" id="hiddenTag" placeholder="Tag to add/remove..." onchange="SetTag(this);">
                        <button type="submit" style="border:none;background-color: white;" onclick="SetTagListAction('add');"><img class="btn-detail-action" src="~/plus.png" /></button>
                        <button type="submit" style="border:none;background-color: white;" onclick="SetTagListAction('remove');"><img class="btn-detail-action" src="~/minus.png" /></button>
                    </form>
                </td>
                <td class="gallery-image-detail-meta-column-sidenote">
                    <img src="~/help-icon.png" class="tooltipicon" alt="?" title="Need to be logged in to run this feature
Use textbox to specify an image
to add or  remove." />
                </td>
            </tr>
            <tr>
                <td class="gallery-image-detail-meta-column-left">Rank: </td>
                <td class="gallery-image-detail-meta-column-right">
                    @*<span>-@Model.Image.Rank-</span>*@
                    <form id="imageRank" asp-controller="Gallery" asp-action="Detail" asp-route-id="@currentId" asp-route-searchQuery="@searchQuery" asp-route-pageId="@pageId" asp-route-blockId="@currentBlock" method="post">
                        <div class="ranking">
                            @for (int i = 1; i <= 10; i++)
                            {
                                string state = "";

                                @if (i <= 11 - Model.Image.Rank)
                                {
                                    state = "checked";
                                }
                                <input @state type="radio" name="ranking" value="@i" id="@i" onclick="SetRank();" onchange="this.form.submit();"><label for="@i">☆</label>
                            }
                        </div>
                        <input type="text" id="rank" asp-for="SelectedRank">
                    </form>
                </td>
                <td class="gallery-image-detail-meta-column-sidenote">
                    <img src="~/help-icon.png" class="tooltipicon" alt="?" title="Need to be logged in to run this feature
Number of stars equals image rating." />
                </td>
            </tr>
            <tr>
                <td class="gallery-image-detail-meta-column-left">Actions ... </td>
                <td class="gallery-image-detail-meta-column-right">
                    <form id="cartActions" asp-controller="Gallery" asp-action="Detail" asp-route-id="@currentId" asp-route-searchQuery="@searchQuery" asp-route-pageId="@pageId" asp-route-blockId="@currentBlock" method="post">
                        <input style="display: none;" type="text" id="currentImageCartAction" asp-for="ShoppingCartAction">
                        @if (ViewBag.IsPhotographyInOrder != null && ViewBag.IsPhotographyInOrder)
                        {
                            <img style="width:45px;height:45px;" src="~/cart-add-inactive.png" />
                            <button type="submit" style="border:none;background-color: white;" onclick="SetCartItemAction('remove');"><img style="width:45px;height:45px;" src="~/cart-remove.png" /></button>
                        }
                        else
                        {
                            <button type="submit" style="border:none;background-color: white;" onclick="SetCartItemAction('add');"><img style="width:45px;height:45px;" src="~/cart-add.png" /></button>
                            <img style="width:45px;height:45px;" src="~/cart-remove-inactive.png" />
                        }
                    </form>
                </td>
                <td class="gallery-image-detail-meta-column-sidenote">
                    <img src="~/help-icon.png" class="tooltipicon" alt="?" title="Need to be logged in to run this feature. Either add
add or remove this picture to the shopping cart. A picture can only be added once. " />
                </td>
            </tr>
        </table>
        @{
            var label = (isCartView) ? "order" : "gallery";
        }
        <div class="gallery-image-detail-nav">
            <a class="btn btn-nav-text" href="@cartGalleryRedirectUrl">
                &laquo; Back to @label...
            </a>
        </div>
    </div>
</div>