@model JuanMartin.PhotoGallery.Models.GalleryDetailViewModel;
@{
    var baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}/Gallery/Index";
    var galleryUrl = baseUrl + $"?pageId={Model.PageId}";
}
<div class="container body-content">
    <div class="gallery-image-detail-container">
        <div>
            @{
                var path = System.IO.Path.Combine(Model.Image.Path, Model.Image.FileName).Replace(@"\", "/");
                var url = Url.Content(path);
            }
            <img class="gallery-image-detail" src="@url" alt="@url" />
        </div>
        <br />
        <table class="gallery-image-detail-meta">
            <tr>
                <td class="gallery-image-detail-meta-column-left">FileName: </td>
                <td class="gallery-image-detail-meta-column-right">@Model.Image.FileName</td>
            </tr>
            <tr>
                <td class="gallery-image-detail-meta-column-left">Location: </td>
                <td class="gallery-image-detail-meta-column-right">@Model.Image.Location</td>
            </tr>
            <tr>
                <td class="gallery-image-detail-meta-column-left">Rank: </td>
                <td class="gallery-image-detail-meta-column-right">
                    <div class="rating">
                        @for (int i = 1; i <= 10; i++)
                        {
                            <input type="radio" name="rating" value="~@i" id="@i"><label for="@i">☆</label>
                        }
                    </div>
                </td>
            </tr>
        </table>
        <div class="gallery-image-detail-nav">
            <a class="btn btn-primary" href="@galleryUrl">
                << Back to gallery...
            </a>
        </div>
    </div>
</div>
