@model JuanMartin.PhotoGallery.Models.GalleryDetailViewModel;
@{
    var baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}/Gallery/Index";
    var galleryUrl = baseUrl + $"?pageId={Model.PageId}";
}
<div class="container body-content">
    <div class="gallery-image-detail-container">
        <div>
            @{
                var path = System.IO.Path.Combine(Model.Image.Path, Model.Image.FileName).Replace(@"\", "/");
                var url = Url.Content(path);
            }
            <img class="gallery-image-detail" src="@url" alt="@url" />
        </div>
        <br />
        <table class="gallery-image-detail-meta">
            <tr>
                <td class="gallery-image-detail-meta-column-left">FileName: </td>
                <td class="gallery-image-detail-meta-column-right">@Model.Image.FileName</td>
            </tr>
            <tr>
                <td class="gallery-image-detail-meta-column-left">Location: </td>
                <td class="gallery-image-detail-meta-column-right">@Model.Image.Location</td>
            </tr>
            <tr>
                <td class="gallery-image-detail-meta-column-left">Rank: </td>
                <td class="gallery-image-detail-meta-column-right">
                    <span>-@Model.Image.Rank-</span>
                    <form asp-controller="Gallery" asp-action="Detail" asp-route-id="@Model.Image.Id" method="post">
                        <div class="ranking">
                            @for (int i = 1; i <= 10; i++)
                            {
                                string state = "";

                                @if (i <= Model.Image.Rank)
                                {
                                    state = "checked";
                                }
                                <input @state type="radio" name="ranking" value="@i" id="@i" onclick="setRank();"onchange="this.form.submit();"><label for="@i">☆</label>
                            }
                            <input type="text" id="rank" asp-for="SelectedRank">
                        </div>
                    </form>
                </td>
            </tr>
        </table>
        <div class="gallery-image-detail-nav">
            <a class="btn btn-primary" href="@galleryUrl">
                << Back to gallery...
            </a>
        </div>
    </div>
</div>
<script>
    function setRank() {
        var getSelectedValue = document.querySelector('input[name="ranking"]:checked');

        if (getSelectedValue != null) {
            var rank = 11 - parseInt(getSelectedValue.value);
            var rankText = document.getElementById('rank');

            rankText.value = rank;
        }
    }
</script> 