@model JuanMartin.PhotoGallery.Models.GalleryIndexViewModel;
@using JuanMartin.PhotoGallery.Controllers;
@using JuanMartin.Kernel.Extesions;
@{
    var isMobile = (ViewBag.IsMobile is null) ? false : (bool)ViewBag.IsMobile;

    string galleryIndexContentClass = (isMobile) ? "gallery-content-mobile" : "gallery-content";
    string navigationButtonClass = (isMobile) ? "btn-nav-with-text-mobile" : "btn-nav-with-text-desktop";
    string tooltipIconClass = (isMobile) ? "tooltip-icon-mobile" : "tooltip-icon-desktop";
    string tooltipIconFile = (isMobile) ? "help-icon-mobile.png" : "help-icon.png";
    tooltipIconFile = "/" +  tooltipIconFile;
    string fontSizeDeviceTypeOverride = (isMobile) ? "16" : "10";
    string fontColorDeviceTypeOverride = (isMobile) ? "black" : "black";
    string fontWeightDeviceTypeOverride = (isMobile) ? "bold" : "normal";

    var isCartView = (ViewBag.DisplayPhotogrphiesAsOrder is null) ? false : (bool)ViewBag.DisplayPhotogrphiesAsOrder;
    var pageCount = ViewBag.PageCount;
    var currentPage = ViewBag.CurrentPage;
    var currentBlock = ViewBag.BlockId;
    var nextBlock = currentBlock;
    int nextPage;
    var blockSize = ViewBag.BlockSize;
    var baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}";
    baseUrl = baseUrl + "/Gallery/Index";
    string galleryUrl = "";

    var searchQuery = (ViewBag.SearchQuery is null) ? string.Empty : ViewBag.SearchQuery;

    // persist values
    var queryString = $"&searchQuery={searchQuery}";
}
   <div id="preloader"></div>
@if (!isCartView)
{
    <div class="navbar">

            <table>
                <tr>
                <td>
                    @if (Model.Locations.Count > 0)
                    {
                        <div id="tagViews" class="dropdown">
                            <button class="dropbtn">Display by Tags</button>
                            <div class="dropdown-content" style="font-size: @fontSizeDeviceTypeOverride;">
                                @foreach (string tag in Model.Tags)
                                {
                                    var t = tag.Capitalize();
                                    galleryUrl = baseUrl + $"?pageId=1&blockId=1&searchQuery={t}";
                                    <a href="@galleryUrl">@t</a>
                                }
                            </div>
                        </div>
                    }
                </td>
                <td>
                    @if (Model.Locations.Count > 0)
                    {
                        <div id="locationViews" class="dropdown">
                            <button class="dropbtn">Display by Locations</button>
                            <div class="dropdown-content" style="font-size: @fontSizeDeviceTypeOverride;">
                                @foreach (string location in Model.Locations)
                                {
                                    galleryUrl = baseUrl + $"?pageId=1&blockId=1&searchQuery={location.Capitalize()}";
                                    <a href="@galleryUrl">@location</a>
                                }
                            </div>
                        </div>
                    }
                </td>
            </tr>
        </table>
    </div>
} @*add view menus *@
@if (@ViewBag.Message != null && @ViewBag.Message != "")
{
    var m = ViewBag.Message;
    var lines = m.split("<br/>");

    <div class="error-message">
        @foreach(var line in lines)
        {
            <span>@line</span>
            <br />
        }
    </div>
    <br />
}
@if (@ViewBag.InfoMessage != null && @ViewBag.InfoMessage != "")
{

    <div class="info-message">
        @ViewBag.InfoMessage
    </div>
    <br />
}
@if (!isCartView) 
{
    <div class="container body-content">
        <div class="@galleryIndexContentClass">
            @if (Model.Album != null && Model.Album.Count > 0)
            {
                int i = 0;

                foreach (var image in Model.Album)
                {
                    <div class="gallery-image-index-container">
                        @{
                            i++;
                            var path = System.IO.Path.Combine(image.Path, image.FileName).Replace(@"\", "/");
                            var url = Url.Content(path);
                        }
                        <a asp-controller="Gallery" asp-action="Detail" asp-route-id="@image.Id" asp-route-pageId="@currentPage" asp-route-blockId="@currentBlock" asp-route-searchQuery="@searchQuery">
                            <img class="gallery-image-index" src="@url" loading="lazy"/>
                            @*                        <div class="gallery-image-index" style="background-image:url(@url)"/>*@
                        </a>
                        <div class="overlay">
                            <table>
                                <tr>
                                    <td style="width:max-content; text-align:right;font-size: @fontSizeDeviceTypeOverride;">Name: </td>
                                    <td style="font-size: @fontSizeDeviceTypeOverride;">@image.FileName</td>
                                </tr>
                                <tr>
                                    <td style="width:max-content; text-align:right;font-size: @fontSizeDeviceTypeOverride;">Location: </td>
                                    <td style="font-size: @fontSizeDeviceTypeOverride;">@image.Location</td>
                                </tr>
                                @if (image.AverageRank > 0)
                                {
                                    <tr>
                                        <td style="width:max-content; text-align:right;font-size: @fontSizeDeviceTypeOverride;">Average Rank: </td>
                                        <td style="color:gold;font-size: @fontSizeDeviceTypeOverride;">@image.AverageRank ★'s</td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <span id="photo-id-@i" style="display: none;">@image.Id</span>
                    </div>
                }
                ViewBag.DebugMessage = $"{i} photographies loaded.";
            }
            else
            {
                <span style="font-size: @fontSizeDeviceTypeOverride;">Photography page is empty.</span>
            }
        </div>
        @* this should be a partial view *@
        @{
            var blockStart = (currentBlock - 1) * blockSize + 1;
            int blockCount = (pageCount / blockSize) + 1;
            var listOfBlocks = Enumerable.Range(1, blockCount).Select(i => i.ToString()).ToList();
        }
        @if (pageCount > 1)
        {
            <table>
                <tr>
                    <td>
                        <div id="pageList" class="pagination">
                            @if (currentBlock > 1)
                            {
                                nextBlock = currentBlock - 1;
                                nextPage = (nextBlock - 1) * blockSize + 1;
                                galleryUrl = baseUrl + $"?pageId={nextPage}&blockId={nextBlock}" + queryString;
                                <a href="@galleryUrl">&laquo;</a>
                            }
                            @if (currentPage > 1)
                            {
                                nextPage = currentPage - 1;

                                if (nextPage == blockStart - 1)
                                {
                                    nextBlock = currentBlock - 1;
                                }

                                galleryUrl = baseUrl + $"?pageId={nextPage}&blocckId={nextBlock}" + queryString;
                                <a href="@galleryUrl">

                                </a>
                            }
                            @{
                                var blockEnd = blockStart + blockSize - 1;
                                if (blockEnd > pageCount)
                                {
                                    blockEnd = pageCount;
                                }

                                for (int p = blockStart; p < blockEnd; p++)
                                {
                                    galleryUrl = baseUrl + $"?pageId={p}&blockId={currentBlock}" + queryString;
                                    string aClass = "";

                                    if (p == currentPage)
                                    {
                                        aClass = "class=active";
                                    }
                                    <a href="@galleryUrl" @aClass>@p</a>
                                }
                            }
                            @if (blockEnd < pageCount)
                            {
                                nextPage = currentPage + 1;
                                nextBlock = currentBlock + 1;

                                galleryUrl = baseUrl + $"?pageId={nextPage}&blockId={nextBlock}" + queryString;
                                <a href="@galleryUrl">&rsaquo;</a>

                                nextPage = (currentBlock) * blockSize + 1;
                                galleryUrl = baseUrl + $"?pageId={nextPage}&blockId={nextBlock}" + queryString;
                                <a href="@galleryUrl">&raquo;</a>
                            }
                        </div>
                    </td>
                </tr>
                @if (!isMobile && listOfBlocks.Count > 1)
                {
                    <tr>
                        <td>
                            <span style="font-size:12px;">Available Blocks...</span>
                            <img src="@tooltipIconFile" rel="tooltip" class="@tooltipIconClass" alt="?" title="A block is a group of  @blockSize pages. Pages
are grouped, to organize display of photographs." />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="blockList" class="pagination">
                                @{
                                    string list = string.Empty;

                                    foreach (var (b, index) in listOfBlocks.Enumerate())
                                    {
                                        nextBlock = Convert.ToInt32(b);
                                        nextPage = (nextBlock - 1) * blockSize + 1;
                                        galleryUrl = baseUrl + $"?pageId={nextPage}&blockId={nextBlock}" + queryString;

                                        if (b == currentBlock.ToString())
                                        {
                                            <a href="@galleryUrl">@b</a>
                                        }
                                        else
                                        {
                                            <a href="@galleryUrl" style="color: var(--site-navigation-color);">@b</a>
                                        }
                                    }
                                }
                            </div>
                    </td>
                </tr>
                }

            </table>
        }
    </div>
}@*add gallery index view *@
else
{
    <div class="container body-content">
        <div class="gallery-content">
            @if (Model.Album != null && Model.Album.Count > 0)
            {
                <form id="shoppincCart" asp-controller="Gallery" asp-action="Index" asp-route-pageId="@currentPage" asp-route-blockId="@currentBlock" asp-route-cartView="true" method="post">
                    <input style="display: none;" type="text" id="currentImageCartAction" asp-for="ShoppingCartAction">
                    <input style="display: none;" type="text" id="cartItemsSequence" asp-for="CartItemsSequence">
                    <input style="display: none;" type="text" id="dragImageIndex" asp-for="DragImageIndex">
                    <input style="display: none;" type="text" id="dropImageIndex" asp-for="DropImageIndex">
                    <div class="cart">
                        <div class="column" id="orderList">
                            @foreach (var (image, i) in Model.Album.Enumerate())
                            {
                                var index = i + 1;
                                <div class="list-group-item" draggable="true">
                                    <div class="orderItem" name="@image.Id" index="@index">
                                        <table>
                                            <tr>
                                                <td width="20%">
                                                    <div class="gallery-image-cart-container">
                                                        @{
                                                            var path = System.IO.Path.Combine(image.Path, image.FileName).Replace(@"\", "/");
                                                            var url = Url.Content(path);
                                                        }
                                                        <a asp-controller="Gallery" asp-action="Detail" asp-route-id="@image.Id" asp-route-pageId="@currentPage" asp-route-blockId="@currentBlock" asp-route-searchQuery="@searchQuery" asp-route-cartView="true">
                                                            <img class="gallery-image-cart" src="@url" loading="lazy"/>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td width="80%" class="gallery-image-detail-meta">
                                                    <span id="cartItemFileName" style="font-size: @fontSizeDeviceTypeOverride;">@image.FileName</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <br />
                    @{
                        string msg = "Update Order Sequence";
                        msg   = (isMobile) ? msg.ToUpper() : msg.Capitalize();
                    }
                    <button type="submit" class="btn @navigationButtonClass" onclick="SubmitOrderIndices();"><span>@msg</span></button>
                </form>
            }
        </div>

        @{
            // persist values
            queryString = $"?pageId={currentPage}&BlockId={currentBlock}&searchQuery={searchQuery}";
            galleryUrl = $"{baseUrl}/Index" + queryString;

            string message = "« Back to gallery...";
            message   = (isMobile) ? message.ToUpper() : message.Capitalize();
        }
        <div class="gallery-image-detail-nav">
            <a class="btn @navigationButtonClass" href="@galleryUrl">@message</a>
        </div>
    </div>
} @*add gallery shopping cart view *@
@if (@ViewBag.DebugMessage != null && @ViewBag.DebugMessage != "")
{

    <div class="info-message" style="font-size:16px;font-weight: bold;">
        @ViewBag.DebugMessage
    </div>
    <br />
}
