@model JuanMartin.PhotoGallery.Models.GalleryIndexViewModel;
@{
    var count = ViewBag.PageCount;
    var currentPage = ViewBag.CurrentPage;
    var baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}";

    var lastId = ViewBag.LastId;
    var firstId = ViewBag.FirstId;
}
@if (@ViewBag.Message != null)
{

    <div class="error-message">
        @ViewBag.Message
    </div>
    <br />
}
<div id="debugInfo" style="color:red; font-size:8px;">
    <span>user id = '@ViewBag.Suid'</span>
    <br />
    <span>sesssion id = '@ViewBag.Sid'</span>
</div>
@if (@ViewBag.InfoMessage != null)
{

    <div class="info-message">
        @ViewBag.InfoMessage
    </div>
    <br />
}
<div class="container body-content">
    <div class="gallery-content">
        @if (Model.Album != null && Model.Album.Count > 0)
        {
            int i = 0;

            @foreach (var image in Model.Album)
            {
                <div class="gallery-image-index-container">
                    @{
                        i++;
                        var path = System.IO.Path.Combine(image.Path, image.FileName).Replace(@"\", "/");
                        var url = Url.Content(path);
                    }
                    <a asp-controller="Gallery" asp-action="Detail" asp-route-id="@image.Id" asp-route-fistId="@firstId" asp-route-lastId="@lastId" asp-route-pageId="@currentPage">
                        <img class="gallery-image-index" src="@url" />
                    </a>
                    @*<div class="gallery-image-index" style="background-image:url(@url)"/>*@
                    <div class="overlay">
                        <table>
                            <tr>
                                <td style="width:max-content; text-align:right">Name: </td>
                                <td>@image.FileName</td>
                            </tr>
                            <tr>
                                <td style="width:max-content; text-align:right">Location: </td>
                                <td>@image.Location</td>
                            </tr>
                            @if (image.AverageRank > 0)
                            {
                                <tr>
                                    <td style="width:max-content; text-align:right">Average Rank: </td>
                                    <td style="color:gold;">@image.AverageRank ★'s</td>
                                </tr>
                            }
                        </table>
                    </div>
                    <span id="photo-id-@i" style="display: none;">@image.Id</span>
                </div>
            }
        }
        else
        {
            <span>Photography page is empty.</span>
        }
    </div>
</div>
<br />
@* this should be a partial view *@
@{
    baseUrl = baseUrl + "/Gallery/Index";
    string galleryUrl = "";
}
@if (count > 1)
{
    <div class="pagination" style="text-align:center">
        @if (currentPage > 1)
        {
            galleryUrl = baseUrl + $"?pageId={currentPage - 1}";
            <a href="@galleryUrl">&laquo;</a>
        }
        @for (int p = 1; p <= count; p++)
        {
            galleryUrl = baseUrl + $"?pageId={p}";
            string aClass = "";

            @if (p == currentPage)
            {
                aClass = "class=active";
            }
            <a href="@galleryUrl" @aClass>@p</a>
        }
        @if (currentPage < count)
        {
            galleryUrl = baseUrl + $"?pageId={currentPage + 1}";
            <a href="@galleryUrl">&raquo;</a>
        }
    </div>
}