@model JuanMartin.PhotoGallery.Models.GalleryIndexViewModel;
@using JuanMartin.PhotoGallery.Controllers;
@using JuanMartin.Kernel.Extesions;
@{
    var pageCount = ViewBag.PageCount;
    var currentPage = ViewBag.CurrentPage;
    var currentBlock = ViewBag.BlockId;
    var blockSize = ViewBag.BlockSize;
    var baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host}";

    var searchQuery = (ViewBag.SearchQuery is null) ? string.Empty : ViewBag.SearchQuery;

    // persist values
    var queryString = $"&searchQuery={searchQuery}";
}
@if (@ViewBag.Message != null)
{

    <div class="error-message">
        @ViewBag.Message
    </div>
    <br />
}
@*<div id="debugInfo" style="color:red; font-size:8px;">
    <span>user id = '@ViewBag.Suid'</span>
    <br />
    <span>sesssion id = '@ViewBag.Sid'</span>
</div>*@
@if (@ViewBag.InfoMessage != null)
{

    <div class="info-message">
        @ViewBag.InfoMessage
    </div>
    <br />
}
<div class="container body-content">
    <div class="gallery-content">
        @if (Model.Album != null && Model.Album.Count > 0)
        {
            int i = 0;

            @foreach (var image in Model.Album)
            {
                <div class="gallery-image-index-container">
                    @{
                        i++;
                        var path = System.IO.Path.Combine(image.Path, image.FileName).Replace(@"\", "/");
                        var url = Url.Content(path);
                    }
                    <a asp-controller="Gallery" asp-action="Detail" asp-route-id="@image.Id" asp-route-pageId="@currentPage" asp-route-searchQuery="@searchQuery">
                        <img class="gallery-image-index" src="@url" />
                    </a>
                    @*<div class="gallery-image-index" style="background-image:url(@url)"/>*@
                    <div class="overlay">
                        <table>
                            <tr>
                                <td style="width:max-content; text-align:right">Name: </td>
                                <td>@image.FileName</td>
                            </tr>
                            <tr>
                                <td style="width:max-content; text-align:right">Location: </td>
                                <td>@image.Location</td>
                            </tr>
                            @if (image.AverageRank > 0)
                            {
                                <tr>
                                    <td style="width:max-content; text-align:right">Average Rank: </td>
                                    <td style="color:gold;">@image.AverageRank ★'s</td>
                                </tr>
                            }
                        </table>
                    </div>
                    <span id="photo-id-@i" style="display: none;">@image.Id</span>
                </div>
            }
        }
        else
        {
            <span>Photography page is empty.</span>
        }
    </div>
</div>
<br />
@* this should be a partial view *@
@{
    baseUrl = baseUrl + "/Gallery/Index";
    string galleryUrl = "";
    var nextBlock = currentBlock;
    int nextPage;
    var blockStart = (currentBlock - 1) * blockSize + 1;
    int blockCount = (pageCount / blockSize) + 1;
    var listOfBlocks = Enumerable.Range(1, blockCount).Select(i => i.ToString()).ToList();
}
@if (pageCount > 1)
{
        <div class="pagination">
        @if (currentBlock > 1)
        {
            nextBlock = currentBlock - 1;
            nextPage = (nextBlock - 1) * blockSize + 1;
            galleryUrl = baseUrl + $"?pageId={nextPage}&blockId={nextBlock}" + queryString;
            <a href="@galleryUrl">&laquo;</a>
        }
        @if (currentPage > 1)
        {
            nextPage = currentPage - 1;

            if (nextPage == blockStart - 1)
                nextBlock = currentBlock - 1;

            galleryUrl = baseUrl + $"?pageId={nextPage}&blocckId={nextBlock}" + queryString;
            <a href="@galleryUrl">&lsaquo;</a>
        }
        @{
            var blockEnd = blockStart + blockSize - 1;
            if (blockEnd > pageCount)
                blockEnd = pageCount;

            for (int p = blockStart; p <= blockEnd; p++)
            {
                galleryUrl = baseUrl + $"?pageId={p}&blockId={currentBlock}" + queryString;
                string aClass = "";

                 if (p == currentPage)
                {
                    aClass = "class=active";
                }
                                            <a href="@galleryUrl" @aClass>@p</a>
            }
        }
        @if (blockEnd < pageCount)
        {
            nextPage = currentPage + 1;
            nextBlock = currentBlock + 1;

            galleryUrl = baseUrl + $"?pageId={nextPage}&blockId={nextBlock}" + queryString;
            <a href="@galleryUrl">&rsaquo;</a>

            nextPage = (currentBlock) * blockSize + 1;                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
            galleryUrl = baseUrl + $"?pageId={nextPage}&blockId={nextBlock}" + queryString;
            <a href="@galleryUrl">&raquo;</a>
        }

        <div class="small-info-message" style="color:black;">Available Blocks...</div>
        <div id="blockList" style=" font-weight: bold;font-size: 8px;font-family: Arial, Helvetica, sans-serif;color:black;">
            @{
                string list = string.Empty;

                foreach (var (b, index) in listOfBlocks.Enumerate())
                {
                    nextBlock = Convert.ToInt32(b);
                    nextPage = (nextBlock - 1) * blockSize + 1;
                    galleryUrl = baseUrl + $"?pageId={nextPage}&blockId={nextBlock}" + queryString;

                        @if (b == currentBlock.ToString())
                    {
                            <a href="@galleryUrl">@b</a>
                    }
                    else
                    {
                            <a href="@galleryUrl" style="color: var(--site-navigation-color);">@b</a>
                    }
            }
        }
        </div>
    </div>
}                   